.edit {
    background-color: blue;
    border: none;
    padding: 5px;
    margin-bottom: 100px;
}

.click {
    color: red;
    background-color: aqua;
    border: 5px;
    padding: 5px;
    margin-bottom: 100px;
}

p {
    text-size-adjust: 100%;
}
